.UseState {
  padding: 2rem;
  border: 1px solid rgb(120, 241, 140);
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 5px;
  margin: 5rem;
}

.UseState h2 {
  color: rgb(120, 241, 140);
}

.UseState input {
  padding: 1rem;
  background-color: white;
  border: none;
  outline: none;
}

.UseState button {
  padding: 1rem;
  border: none;
  outline: none;
  background-color: rgb(120, 241, 140);
  font-weight: bold;
  font-family: monospace;
}
